/* ==UserStyle==
@name           Hide footer-bottom-wrapper on www.onsen.ag
@description    .footer-bottom--wrapper を非表示
@include        https://www.onsen.ag/*
@include        http://www.onsen.ag/*
==/UserStyle== */

.footer-bottom--wrapper {
  display: none !important;
}

/* 以下20260613追加 */
.footer-page {
    display: none !important;
}

.twitter-link--wrapper {
    display: none !important;
}